[database]
datatype=postgresql
server=localhost
database=db
schema=omopcdm
port=5432
user=
password=

[cohort_info]
cohortdir=
cohortsep=

patientcsv=
obsdir=
results=
vocabulariesdir=
log=execution.log
cohortname=
formatdate=%%d-%%M-%%Y


[cohort_mappings]
columnsmapping=
contentmapping=
usagisep=,

[cohort_transformation]
headers=
measures=
cohortdest=

[cohort_harmonization]
cohortharmonizeddest=

[transmart]
cohortoutputfile=Transmart.tsv
cohortname=
transmartdstdir=
protegeoutput=
visitindependentoutput=
